* {
	margin:0;
	padding:0;
}

section {
	margin:50px auto;
	width:500px;
	height:500px;
	font-size:0;
	border-radius:50%;
	box-shadow:0 0 20px #000;
}

section div {
	display:inline-block;
}

.red {
	width:50%;
	height:50%;
	background-color:#e74c3c;
	border-top-left-radius:100%;
}
.red:hover {
	opacity:0.7;
}
.green {
	width:50%;
	height:50%;
	background-color:#2ecc71;
	border-top-right-radius:100%;
}
.green:hover {
	opacity:0.7;
}
.blue {
	width:50%;
	height:50%;
	background-color:#3498db;
	border-bottom-left-radius:100%;
}
.blue:hover {
	opacity:0.7;
}
.yellow {
	width:50%;
	height:50%;
	background-color:#f1c40f;
	border-bottom-right-radius:100%;
}
.yellow:hover {
	opacity:0.7;
}


