* {
	margin:0;
	padding:0;
}

body {
	font-family:Helvetica, Arial, sans-serif;
	background-color:#ecf0f1;
}

.game {
	margin:30px auto;
	padding:1%;
	width:500px;
	height:500px;
	font-size:0;
	border-radius:50%;
	box-shadow:0 0 20px #000;
	background-color:#222;
}

.game div {
	display:inline-block;
	margin:2%;
}

.red {
	width:46%;
	height:46%;
	opacity:0.7;
	background-color:#e74c3c;
	border-top-left-radius:100%;
}
.red:hover {
	opacity:0.8;
	cursor:pointer;
}
.green {
	width:46%;
	height:46%;
	opacity:0.5;
	background-color:#2ecc71;
	border-top-right-radius:100%;
}
.green:hover {
	opacity:0.8;
	cursor:pointer;
}
.blue {
	width:46%;
	height:46%;
	opacity:0.5;
	background-color:#3498db;
	border-bottom-left-radius:100%;
}
.blue:hover {
	opacity:0.8;
	cursor:pointer;
}
.yellow {
	width:46%;
	height:46%;
	opacity:0.5;
	background-color:#f1c40f;
	border-bottom-right-radius:100%;
}
.yellow:hover {
	opacity:0.8;
	cursor:pointer;
}

.select {
	opacity:1;
}

.btnGroup {
	text-align:center;
}

button {
	width:100px;
	height:50px;
	font-size:24px;
	background-color:#000;
	color:#fff;
	border-radius:5%;
	border:1px solid #000;
	outline:none;
	cursor:pointer;
}
button:hover {
	background-color:#fff;
	color:#000;
}
button:disabled {
	background-color:#888;
}
